.npm
node_modules/
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip
*.rar
*.7z
*.mp3
*.mp4
*.avi
*.mkv
*.flv
*.mov
*.wmv
*.mpg
*.mpeg
*.rm
*.rmvb
*.ogv
*.ogg
*.webm
*.png
*.gif
*.jpg
*.jpeg
*.sqlite
!yukihira app/includes/assets/images/*.png
!yukihira app/includes/assets/images/meme/*.png
appstate.json
yukistate.json
package-lock.json
